.button-wrapper {
    background-color:  #18a7ff !important ;
    color: white !important;
    width: fit-content;
    height: 2.5em;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
        font-family: 'Inter';
        border-radius: 0.25rem;
        border-top-color: #18a7ff;
        border-right-color: #18a7ff;
        border-bottom-color: #18a7ff;
        border-left-color: #18a7ff;
        border-top-width: 0.125rem;
        border-bottom-width: 0.125rem;
        border-left-width: 0.125rem;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-width: 0.125rem;
        // padding-top: 6px;
        // padding-bottom: 6px;
        padding-left: 16px;
        background-color: var(--primary-color);
        padding-right: 16px;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-color: #51baff !important;
        }
        a {
            text-decoration: none;
            color: white;
        }
    
}