.global-container {
    .video-content-wrapper {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgYGD4z4AD/MdgYFUBAIm6A/1dF8zeAAAAAElFTkSuQmCC ) repeat;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        .text-overlay {
            color: white;
            text-align: center;
            z-index: 1;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            h1 {
                    font-weight: 900;
                    color: #ffffff;
                    line-height: 1.2;
                    letter-spacing: -4px;
                    margin-top: -40px;
                    margin-bottom: 1em;
                    font-size: 8vw;
                    text-shadow: 0 0 100px rgba(0,0,0,0.3),inset 0 0 20px #ffffff;
            }
            p {
                font-size: 1.5em;
                font-weight: 300;
                margin-top: -7em;
                padding-left: 1em;
                text-shadow: 0 0 100px rgba(0,0,0,0.3),inset 0 0 20px #ffffff;
            }
        }
        .video-container {
            height: 100vh;
            width: 100%;
            background-image: linear-gradient(90deg,rgba(0,0,0,0.74),rgba(255,255,255,0));
            background-size: auto,cover;
            width: 100%;
            background-color: #0f0f1215;
            background-position: 50% 0px;
            top: 0;
            position: absolute;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
            }
        }
    }
}
.gray-bg {
    background-color: #f5f6f8 !important;
}
.info-container {
    color: black;
    width: 100%;
    padding: 0 15%;
    height: fit-content;
    margin-top: 100vh;
    .info-card{
        transform: translate(0, 5em);
        flex-direction: row;
        display: flex;
        align-items: center;
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 0;
        background-color: #ffffff;
        border-radius: .8rem;
        border-top-left-radius: .8rem;
        border-bottom-left-radius: .8rem;
        border-top-right-radius: .8rem;
        border-bottom-right-radius: .8rem;
        width: 70%;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 2em;
        box-shadow: 4px 8px 12px rgba(0,0,0,0.15);
        height: 40vh;
        .left-section {
            height: 100%;
            img {
                display: block;
            border-top-right-radius: 0rem;
            border-bottom-right-radius: 0rem;
            border-top-left-radius: .8rem;
            border-bottom-left-radius: .8rem;
            margin-left: 0px;
            height: 100%;
            }
            .text-content {
                padding-left: 1em;
                padding-right: 1em;
            }
        }
        .right-section {
            height: 100%;

            img {
                display: block;
                border-top-left-radius: 0rem;
                border-bottom-left-radius: 0rem;
                border-top-right-radius: .8rem;
                border-bottom-right-radius: .8rem;
                margin-left: 0px;
                height: 100%;
                }
            .text-content {
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    }
}